body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: steelblue;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

nav {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

main img, aside img {
    max-width: 100%;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { 
    margin-bottom: 1em;
}

aside {
    max-width: 250px;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 8px;
}

footer {
    margin-top: 2em;
    padding: 1em 0;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #555;
    text-align: center;
    background-color: #f0f0f0;
}