body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


h1 {
    color: #1a4d80;
}


main {
    max-width: 840px;
    margin: 0 auto;
    padding: 1em;
    display: block;
    gap: 2em;
}

nav {
    background-color: #1a4d80;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 1em;
}


nav a {
    color: #fff;
    padding: 10px;
    display: block;
}


img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


aside img {
    width: 200px; 
    height: auto;
}

p { 
    margin-bottom: 1em;
    padding: 0;
}

aside {
    max-width: 250px;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 8px;
}

footer {
    margin-top: 2em;
    padding: 1em 0;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #222;
    text-align: center;
    background-color: #e0e0e0;
}